<!-- views/index.ejs -->
<html>
<head>
    <title>HivemindeR</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top hidden-print">
	  <div class="container">
		
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
			<li><a href="/index.ejs">Home</a></li>
			<li class="hidden-sm">
			  <a href="/">What's New</a>
			</li>
			<li class="hidden-xs hidden-md hidden-lg">
			  <a href="/">New</a>
			</li>
			<li><a href="/">Community</a></li>
			<li><a href="/">License</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="/login"><span class="fa fa-user"></span> Local Login</a></li>
			<li><a href="/signup"><span class="fa fa-user"></span> Local Signup</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="text-center">
        <h1>HivemindeR</h1>
	</div>
	<br></br>
	<div margin:50px>
		
			 <iframe class="youtube-player" type="text/html" width="640" height="385" 
			 src="http://www.youtube.com/embed/9shtfih-pNs" frameborder="0"></iframe>
		
		
			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
			<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		
	</div>
</body>
</html>